<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div style="text-align: center">
      <p style="color: rgb(100, 63, 0); text-align: center">
        please login to continue...
      </p>

      <% if (locals.error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>
      <form
        method="post"
        action="/user/login"
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 15px;
        "
      >
        <label style="color: rgb(0, 100, 63)">Email</label>
        <input type="email" name="email" placeholder="Enter email" /><br />
        <label style="color: rgb(0, 100, 63)">Password</label>
        <input type="password" name="password" placeholder="Enter password" />
        <br />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
